/* https://paletton.com/#uid=14A0u0kllllaFw0g0qFqFg0w0aF */

:root {
  --primary: #522b72;
  --primary-light: #704c8f;
  --primary-lighter: #9376ac;
  --primary-dark: #371356;
  --primary-darker: #210439;
  --text: rgba(255, 255, 255, 0.5);
  --background: #202020;
}

body {
  background-color: var(--background);
  font-family:Arial, Helvetica, sans-serif;
  color: var(--text);
}

h1 {
  text-align:center;
  color: var(--primary-lighter);
}

a {
  color: var(--primary-light);
}

hr {
  width:70%;
  background-color: var(--primary-light);
  height:1px;
  border:none;
}

#wrapper {
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

form {
  margin: 5px;
}

button:active, button:focus, textarea:focus {
  outline: none;
}

/*alignment*/

.right {
  text-align:right;
}

/*about box and overlay*/

#overlay {
  display:none;
  background-color:rgba(0, 0, 0, 0.6);
  width:100%;
  height:100%;
  z-index:10;
  top:0;
  left:0;
  position:fixed;
}

.modal {
  display:none;
  background-color: var(--primary-dark);
  color: var(--text);
  position:fixed;
  width:60%;
  left: 50%;
  margin-left: -30%;
  z-index:20;
  padding: 0px 10px;
  border-radius: 10px;
  overflow: auto;
}

.modal button {
  display: inline-block;
  background-color: var(--primary-light);
  color: #fff;
  margin: 10px;
}

#close {
  cursor:pointer;
  font-size:140%;
}

/*progress bar etc*/

#howmuch {
  text-align:center;
}

#progwrapper {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-light);
  height:30px;
  margin-bottom:20px;
}

#prog {
  width:0%;
  height:30px;
  background-color: var(--primary);
}

.invisible {
  display:none;
}

/*writing stuff*/

textarea {
  font-family:'courier new', monospace;
  background-color: var(--primary-lighter);
  color: var(--primary-darker);
  border: 1px solid var(--primary-darker);
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
  width:100%;
}

#counter {
  text-align:center;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-darker);
  color: var(--primary-lighter);
  margin-bottom:15px;
  font-size:120%;
}

button {
  color: var(--text);
  background-color: var(--primary);
  margin-left:auto;
  margin-right:auto;
  display:block;
  border:0px;
  font-size:140%;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

#donebut {
  margin-bottom:15px;
}

.inactivebut {
  color: var(--primary-light);
  background-color: var(--primary-lighter);
  cursor:not-allowed;
}

.activebut {
  color: var(--primary-lighter);
}

@media screen and (max-width: 700px) {
  #wrapper {
    width:100%;
  }
}
